
{% extends 'header.html' %}
{% load static %}


<!DOCTYPE HTML>
<html>
    <head>
        <title>TMS | Tourism Management System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<link href="{% static 'css/all.min.css' %}" rel="stylesheet"  type='text/css' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
        <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
        <link href="{% static 'css/font-awesome.css' %}" rel='stylesheet' />
        <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,600" rel='stylesheet' type='text/css'>
        <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300" rel='stylesheet' type='text/css'>
        <link href="//fonts.googleapis.com/css?family=Oswald" rel='stylesheet' type='text/css'>
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        
        <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
        <!-- Custom Theme files -->
        <script src="{% static 'js/all.min.js' %}"></script>
        <script src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!--animate-->
        <link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css" media="all">
            <script>
                 new WOW().init();
            </script>
			
		
        <!--//end-animate-->
        </head>
<body>
    {% block content %}
<!-- top-header -->
<div class="banner-3">
	<div class="container">
		<h1 class="wow zoomIn animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;"> BMH -Package Details</h1>
	</div>
</div>
<!--- /banner ---->
<!--- selectroom ---->

<div class="selectroom">
	<div class="container">	
<form name="book" method="post" action="/vehicleselection/{{package.id}}/" >
	{% csrf_token %}

		<div class="selectroom_top">
			<h3>Package Details</h3>
		
			<hr>
			<div class="col-md-4 selectroom_left wow fadeInLeft animated" data-wow-delay=".5s">
				<img src="{{ package.pimg.url }}" class="img-responsive" alt="">
				<img src="{{ package.pimg1.url }}" class="img-responsive" alt="">
				<img src="{{ package.pimg2.url }}" class="img-responsive" alt="">



			</div>

			<div class="col-md-8 selectroom_right wow fadeInRight animated" data-wow-delay=".5s">
				<h4>Package Name: {{package.pname}}</h4>
				<h4>Duration : {{package.days}} days</h4>
					<p><b>Package Location :</b>{{package.pdestination}}</p>
					<p><b>Features:</p>
							<div class="container1">
								<div class="footer-social-icons wow fadeInDown animated animated text-center" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
									
									<ul>
										<h4>
										
										<li><a><i class="fas fa-hotel"><span>Hotels</span></i></a></li>
										<li><a><i class="fas fa-car"><span>Vehicale</span></i></a></li>
										<li><a><i class="fas fa-heart"><span>Most Liked</span></i></a></li>
										<li><a><i class="fas fa-user-check"><span>Guide</span></i></a></li>
										<li><a><i class="fas fa-bars"></i></a></li>
										<li><a><i class="fas fa-bars"></i></a></li>
										<li><a><i class="fas fa-bars"></i></a></li>
										<li><a><i class="fas fa-bars"></i></a></li>
									</h4>
									</ul>
								</div>
							</div>
			
					<div class="ban-bottom">
						<div class="bnr-right">
							<br>
							<label class="inputLabel">Source</label>
							<input class="textbox" id="datepicker1" type="text" placeholder="Source" name="source" required="" style="width: 12rem;">
							<br>
						
							<label class="inputLabel">Members</label>
							<input class="textbox" id="datepicker1" type="text" placeholder="Members" name="members" required="" style="width: 12rem;">
							<br>
						</div>
						<br>
				<div class="bnr-right">
				<label class="inputLabel">From</label>
				<input class="date" id="datepicker" type="date" placeholder="dd-mm-yyyy"  name="fromdate" required="">
			</div>
		
			
			</div>
						<div class="clearfix"></div>
				<div class="grand">
					<p>Basic Price</p>
					<h3>RS.{{package.price}}</h3><br>
					
					<button type="submit" data-toggle="modal" data-target="#myModal4" class="btn btn-primary">Next</button>
				</li>
				</div>
			</div>
	
				<p style="padding-top: 1%">  </p>	
				<div class="clearfix"></div>
		</div>

		</form>

	</div>
</div>
<div class="selectroom">
	<div class="container">	
	
<div class="selectroom_top">
			<h2>Public Coments</h2>
			<br>
			<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
	Add Coment
  </button>
  
  <!-- Modal -->

		
			{% for coments in coments %}
					
                    <div class="rom-btm">
                        <div class="col-md-6 room-left wow fadeInUp animated" data-wow-delay=".5s">
                            <h4>Name :{{coments.user}}</h4><br>
                            <h5><b>Coment :</b>{{coments.coment}}</h5><br>
                        </div>
                        <div class="col-md-3 room-right wow fadeInRight animated" data-wow-delay=".5s">
                            <h5>Ratings : </h5>
							
                            {% if coments.cratings == 1 %}
                            <fieldset class="rating">
                                <input type="radio"  /><label for="star5" title="Rocks!">5 stars</label>
                                <input type="radio"  /><label for="star4" title="Pretty good">4 stars</label>
                                <input type="radio"  /><label for="star3" title="Meh">3 stars</label>
                                <input type="radio"  /><label for="star2" title="Kinda bad">2 stars</label>
                                <input type="radio"  checked="checked" /><label for="star1" title="Sucks big time">1 star</label>
                            </fieldset>
                             {% endif %}
                            {% if coments.cratings == 2 %}
                            <fieldset class="rating">
                                <input type="radio" /><label for="star5" title="Rocks!">5 stars</label>
                                <input type="radio" /><label for="star4" title="Pretty good">4 stars</label>
                                <input type="radio"  /><label for="star3" title="Meh">3 stars</label>
                                <input type="radio"  checked="checked"  /><label for="star2" title="Kinda bad">2 stars</label>
                                <input type="radio"   /><label for="star1" title="Sucks big time">1 star</label>
                            </fieldset>
                            {% endif %}
                            {% if coments.cratings == 3 %}
                            <fieldset class="rating">
                                <input type="radio"  /><label for="star5" title="Rocks!">5 stars</label>
                                <input type="radio"  /><label for="star4" title="Pretty good">4 stars</label>
                                <input type="radio" checked="checked" /><label for="star3" title="Meh">3 stars</label>
                                <input type="radio" /><label for="star2" title="Kinda bad">2 stars</label>
                                <input type="radio"  /><label for="star1" title="Sucks big time">1 star</label>
                            </fieldset>
                               {% endif %}
                            {% if coments.cratings == 4 %}
                            <fieldset class="rating">
                                <input type="radio"    /><label for="star5" title="Rocks!">5 stars</label>
                                <input type="radio"    checked="checked"  /><label for="star4" title="Pretty good">4 stars</label>
                                <input type="radio" /><label for="star3" title="Meh">3 stars</label>
                                <input type="radio" /><label for="star2" title="Kinda bad">2 stars</label>
                                <input type="radio"  /><label for="star1" title="Sucks big time">1 star</label>
                            </fieldset> 
                            {% endif %}
                            {% if coments.cratings == 5 %}
                            <fieldset class="rating">
                                <input type="radio"  checked="checked"/><label for="star5" title="Rocks!">5 stars</label>
                                <input type="radio"  /><label for="star4" title="Pretty good">4 stars</label>
                                <input type="radio"  /><label for="star3" title="Meh">3 stars</label>
                                <input type="radio"  /><label for="star2" title="Kinda bad">2 stars</label>
                                <input type="radio"   /><label for="star1" title="Sucks big time">1 star</label>
                            </fieldset>
                        
                            {% endif %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
				{% endfor %}


	</div>
</div>
</div>

<br>
<br><br><br><br>
<div class="copy-right">
	<div class="container">
		<div class="footer-social-icons wow fadeInDown animated animated text-center" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
			<ul>
				<li><a class="facebook" href="#"><span>Facebook</span></a></li>
				<li><a class="twitter" href="#"><span>Twitter</span></a></li>
				<li><a class="flickr" href="#"><span>Flickr</span></a></li>
				<li><a class="googleplus" href="#"><span>Google+</span></a></li>
				<li><a class="dribbble" href="#"><span>Dribbble</span></a></li>
			</ul>
		</div>
		<p class="wow zoomIn animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">© 2017 TMS . All Rights Reserved </p>
	</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		  <b><h3 class="modal-title text-success" id="exampleModalLabel" >Add Comment</h3></b>
<hr>
		</div>
		<form name="book1" method="post" action="/addcoment/{{pkgid}}/">
			{% csrf_token %}
		<div class="modal-body">
			<label class="inputLabel">Comment: </label>
			<input class="textarea" id="datepicker1" type="text" placeholder="Add your coments" name="comment" required="" style="width: 30rem;" cols="50"><br>
			<br>
			
			<label class="rating">How was Your Experience: </label>
			<br>
			<fieldset class="rating"]>
				<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
				<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
				<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
				<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
				<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
			</fieldset>
			
			<br><br><br>
		</div>
	
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
	  </div>
	</div>
  </div>
{% endblock %}
</body>
</html>